{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row text-center">
    <h1>登录</h1>
    <p>输入用户名和密码</p>
    {% if next %}
    <form action="{% url 'account:user_login' %}?next={{next}}" class="form-horizontal" method="post">
    {% else %}
    <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="" class="col-md-5 control-label">用户名：</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-5 control-label">密 码：</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <input type="submit" value="登录" class="btn btn-primary btn-lg">
    </form>
    <!-- 添加下面这一行 -->
    <p>忘记密码怎么办：<a href="{% url 'account:password_reset' %}">重置密码</a></p>
</div>
{% endblock %}