{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>重置密码</h1>
    <form action="." class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="" class="col-md-5 control-label text-right">注册邮箱：</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="重置密码" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}